<%= form_with(model: store) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour %>
  </div>

  <div class="field">
    <%= form.label :display %>
    <%= form.text_field :display %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

    <div class="field">
      <%= form.label :files %>
      <%= form.file_field :files, multiple: true %>
  </div>


    <div class="field">
    <strong>Picture:</strong>
    <% @store.files.each do |file| %>
    <%= image_tag file, width:"100px"%>
    <% end %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
